{% extends "layout.html" %}

{% block title %}
    C$50
{% endblock %}

{% block main %}
    <h1 style="margin-bottom: 50px">Portfolio</h1>
    <div>
        <table class="table table-striped" style="width:100%">
            <th>Stock</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Value</th>
            {% for row in rows %}
                <tr>
                    <td>{{ row["symbol"].upper() }}</td>
                    <td>{{ row["shares"] }}</td>
                    <td>{{ row["price"] }}</td>
                    <td>{{ row["value"] }}</td>
                </tr>
            {% endfor %}
            <tr>
                <th colspan="3">Cash</th>
                <td>{{ cash }}</td>
            </tr>
            <tr>
                <th colspan="3">Total</th>
                <td>{{ grand_total }}</td>
            </tr>
        </table>
    </div>
    <form action="/" method="post">
        <button class="btn btn-primary" type="submit">Give me some cash 💸</button>
    </form>
{% endblock %}